<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        </head>
        <body>
            <header>
                <p class="protectivemarking">TOP SECRET</p>
            </header>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="mailto:secretheadquarters2019@gmail.com">email Secret Headquarters</a></li>
                    <li><a href="https://github.com/hankquinlan">github.com/secretheadquarters</a></li>
                </ul>
                <p class="protectivemarking">TOP SECRET</p>
            </footer>
        </body>
    </html>
